# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Build / distribution / packaging files
build/
dist/
*.egg-info/

# Logs / temporary files
*.log
*.tmp
*.temp
